.link,
.standalone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.logo {
  height: auto;
  width: auto;
  max-width: 100%;
}

.videoFrame {
  display: block;
  overflow: hidden;
}

.video {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  object-fit: fill;
  background: transparent;
  border: 0;
  outline: 0;
  vertical-align: top;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  transform: scale(1.1);
  transform-origin: center center;
}

.video::-webkit-media-controls,
.video::-webkit-media-controls-enclosure,
.video::-webkit-media-controls-panel,
.video::-webkit-media-controls-play-button,
.video::-webkit-media-controls-timeline,
.video::-webkit-media-controls-current-time-display,
.video::-webkit-media-controls-time-remaining-display,
.video::-webkit-media-controls-mute-button,
.video::-webkit-media-controls-volume-slider,
.video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.small {
  max-width: 180px;
}

.medium {
  max-width: 190px;
}

.large {
  max-width: 360px;
}
